body {
    background-color: cornsilk;
}

h1, h2, h3 {
    text-align: center;
    font-family: 'Nerko One', cursive;
    font-size: 32px;
}

h3 {
    color: cornflowerblue;
}

table {
    margin-left: 900px;
    margin: 0 auto;
    border: 2px solid black;
   
}

thead {
    background-color:coral;
}

td {
    border: 1px solid purple;
}

.element_name {
    background-color:white;
}

.table7 {
     margin-bottom: 100px;
}